apiVersion: apps/v1
kind: Deployment
metadata:
  name: ci-demo-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: ci-demo-app
  template:
    metadata:
      labels:
        app: ci-demo-app
    spec:
      containers:
      - name: ci-demo-container
        image: ci-demo-app:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000

        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret

        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
